name: Deploy Frontend to VPS

on:
  push:
    branches:
      - main
    paths:
      - 'admin/**'
      - '.github/workflows/admin.prod.yml'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: client/pnpm-lock.yaml

      - name: Install Dependencies
        working-directory: ./client
        run: pnpm install --frozen-lockfile

      - name: Build App
        working-directory: ./admin
        run: pnpm build
        env:
          VITE_API_URL: ${{secrets.NEXT_PUBLIC_API_URL}}

      - name: Ensure remote directory exists
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p ~/task-flow/admin

      - name: Copy build files to VPS
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "admin/dist/"
          target: "~/task-flow/admin"
          strip_components: 2